In [1]:
import pandas as pd

df = pd.read_csv("../data/train.csv")

In [2]:
df.head()

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,...,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38,TARGET
0,1,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39205.170000,0
1,3,2,34,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,49278.030000,0
2,4,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67333.770000,0
3,8,2,37,0.0,195.0,195.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,64007.970000,0
4,10,2,39,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016,0

In [3]:
print(len(df))

76020

In [4]:
print(sum(df["TARGET"]))
print(sum(df["TARGET"])/len(df))

3008
0.0395685345961589

In [5]:
not_null_column_list = []

for column in df.columns: 
    if len(df[column].unique()) > 1: 
        not_null_column_list.append(column)
print(len(not_null_column_list))

337

In [6]:
df = df[not_null_column_list]

In [7]:
df_positive = df.loc[df["TARGET"] == 1]
print(len(df_positive))
df_negative = df.loc[df["TARGET"] == 0]
print(len(df_negative))
df_positive = df_positive.drop("TARGET", axis=1)
df_negative = df_negative.drop("TARGET", axis=1)

3008
73012

In [8]:
df_target = df["TARGET"]
df = df.drop("TARGET", axis=1)

In [9]:
positive_not_unique_column_list = []
positive_unique_column_list = []

for column in df_positive.columns: 
    if len(df_positive[column].unique()) > 1: 
        positive_not_unique_column_list.append(column)
    else:
        positive_unique_column_list.append(column)
print(positive_unique_column_list)

['ind_var6_0', 'ind_var6', 'ind_var13_medio_0', 'ind_var13_medio', 'ind_var18_0', 'ind_var18', 'ind_var20_0', 'ind_var20', 'ind_var29_0', 'ind_var29', 'ind_var33_0', 'ind_var33', 'ind_var34_0', 'ind_var34', 'num_var6_0', 'num_var6', 'num_var13_medio_0', 'num_var13_medio', 'num_var18_0', 'num_var18', 'num_var20_0', 'num_var20', 'num_op_var40_hace3', 'num_var29_0', 'num_var29', 'num_var33_0', 'num_var33', 'num_var34_0', 'num_var34', 'saldo_var6', 'saldo_var13_medio', 'saldo_var18', 'saldo_var20', 'saldo_var29', 'saldo_var33', 'saldo_var34', 'delta_imp_amort_var18_1y3', 'delta_imp_amort_var34_1y3', 'delta_imp_aport_var33_1y3', 'delta_imp_reemb_var33_1y3', 'delta_imp_trasp_var17_in_1y3', 'delta_imp_trasp_var17_out_1y3', 'delta_imp_trasp_var33_in_1y3', 'delta_imp_trasp_var33_out_1y3', 'delta_imp_venta_var44_1y3', 'delta_num_aport_var33_1y3', 'delta_num_reemb_var33_1y3', 'delta_num_trasp_var17_in_1y3', 'delta_num_trasp_var17_out_1y3', 'delta_num_trasp_var33_in_1y3', 'delta_num_trasp_var33_out_1y3', 'delta_num_venta_var44_1y3', 'imp_amort_var18_ult1', 'imp_amort_var34_ult1', 'imp_aport_var17_hace3', 'imp_aport_var33_hace3', 'imp_aport_var33_ult1', 'imp_var7_emit_ult1', 'imp_compra_var44_hace3', 'imp_reemb_var17_hace3', 'imp_reemb_var33_ult1', 'imp_trasp_var17_in_hace3', 'imp_trasp_var17_in_ult1', 'imp_trasp_var17_out_ult1', 'imp_trasp_var33_in_hace3', 'imp_trasp_var33_in_ult1', 'imp_trasp_var33_out_ult1', 'imp_venta_var44_hace3', 'imp_venta_var44_ult1', 'ind_var7_emit_ult1', 'num_aport_var17_hace3', 'num_aport_var33_hace3', 'num_aport_var33_ult1', 'num_var7_emit_ult1', 'num_compra_var44_hace3', 'num_meses_var13_largo_ult3', 'num_meses_var13_medio_ult3', 'num_meses_var29_ult3', 'num_meses_var33_ult3', 'num_reemb_var17_hace3', 'num_reemb_var33_ult1', 'num_trasp_var17_in_hace3', 'num_trasp_var17_in_ult1', 'num_trasp_var17_out_ult1', 'num_trasp_var33_in_hace3', 'num_trasp_var33_in_ult1', 'num_trasp_var33_out_ult1', 'num_venta_var44_hace3', 'num_venta_var44_ult1', 'saldo_medio_var13_largo_hace2', 'saldo_medio_var13_largo_hace3', 'saldo_medio_var13_largo_ult1', 'saldo_medio_var13_largo_ult3', 'saldo_medio_var13_medio_hace2', 'saldo_medio_var13_medio_ult1', 'saldo_medio_var13_medio_ult3', 'saldo_medio_var17_hace2', 'saldo_medio_var17_hace3', 'saldo_medio_var29_hace2', 'saldo_medio_var29_hace3', 'saldo_medio_var29_ult1', 'saldo_medio_var29_ult3', 'saldo_medio_var33_hace2', 'saldo_medio_var33_hace3', 'saldo_medio_var33_ult1', 'saldo_medio_var33_ult3', 'saldo_medio_var44_hace2', 'saldo_medio_var44_hace3']

In [10]:
negative_not_unique_column_list = []
negative_unique_column_list = []

for column in df_negative.columns: 
    if len(df_negative[column].unique()) > 1: 
        negative_not_unique_column_list.append(column)
    else:
        negative_unique_column_list.append(column)
print(negative_unique_column_list)

[]

In [11]:
print(len(set(positive_not_unique_column_list).intersection(set(negative_not_unique_column_list))))

228

In [31]:
positive_unique_column_dict = dict()

for column in positive_unique_column_list:
    if len(set(df_negative[column].values.tolist()).intersection(set(df_positive[column].values.tolist()))) == 0:
        print(f"{column} is unique")
    else:
        positive_unique_column_dict[column] = df_positive[column].values.tolist()[0]
        df_target = df_target.loc[df[column] == df_positive[column].values.tolist()[0]]
        df = df.loc[df[column] == df_positive[column].values.tolist()[0]]
print(len(df))

74930