In [49]:
import pandas as pd

df = pd.read_csv("../data/train.csv")

In [50]:
df.head()

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,...,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38,TARGET
0,1,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39205.170000,0
1,3,2,34,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,49278.030000,0
2,4,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67333.770000,0
3,8,2,37,0.0,195.0,195.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,64007.970000,0
4,10,2,39,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016,0

In [51]:
print(len(df))

76020

In [52]:
print(sum(df["TARGET"]))
print(sum(df["TARGET"])/len(df))

3008
0.0395685345961589

In [53]:
not_null_column_list = []

for column in df.columns: 
    if len(df[column].unique()) > 1: 
        not_null_column_list.append(column)
print(len(not_null_column_list))

337

In [54]:
df = df[not_null_column_list]

In [55]:
df_positive = df.loc[df["TARGET"] == 1]
print(len(df_positive))
df_negative = df.loc[df["TARGET"] == 0]
print(len(df_negative))
df_positive = df_positive.drop("TARGET", axis=1)
df_negative = df_negative.drop("TARGET", axis=1)

3008
73012

In [56]:
df_target = df["TARGET"]
df = df.drop("TARGET", axis=1)

In [57]:
positive_not_unique_column_list = []
positive_unique_column_list = []

for column in df_positive.columns: 
    if len(df_positive[column].unique()) > 1: 
        positive_not_unique_column_list.append(column)
    else:
        positive_unique_column_list.append(column)
print(positive_unique_column_list)

['ind_var6_0', 'ind_var6', 'ind_var13_medio_0', 'ind_var13_medio', 'ind_var18_0', 'ind_var18', 'ind_var20_0', 'ind_var20', 'ind_var29_0', 'ind_var29', 'ind_var33_0', 'ind_var33', 'ind_var34_0', 'ind_var34', 'num_var6_0', 'num_var6', 'num_var13_medio_0', 'num_var13_medio', 'num_var18_0', 'num_var18', 'num_var20_0', 'num_var20', 'num_op_var40_hace3', 'num_var29_0', 'num_var29', 'num_var33_0', 'num_var33', 'num_var34_0', 'num_var34', 'saldo_var6', 'saldo_var13_medio', 'saldo_var18', 'saldo_var20', 'saldo_var29', 'saldo_var33', 'saldo_var34', 'delta_imp_amort_var18_1y3', 'delta_imp_amort_var34_1y3', 'delta_imp_aport_var33_1y3', 'delta_imp_reemb_var33_1y3', 'delta_imp_trasp_var17_in_1y3', 'delta_imp_trasp_var17_out_1y3', 'delta_imp_trasp_var33_in_1y3', 'delta_imp_trasp_var33_out_1y3', 'delta_imp_venta_var44_1y3', 'delta_num_aport_var33_1y3', 'delta_num_reemb_var33_1y3', 'delta_num_trasp_var17_in_1y3', 'delta_num_trasp_var17_out_1y3', 'delta_num_trasp_var33_in_1y3', 'delta_num_trasp_var33_out_1y3', 'delta_num_venta_var44_1y3', 'imp_amort_var18_ult1', 'imp_amort_var34_ult1', 'imp_aport_var17_hace3', 'imp_aport_var33_hace3', 'imp_aport_var33_ult1', 'imp_var7_emit_ult1', 'imp_compra_var44_hace3', 'imp_reemb_var17_hace3', 'imp_reemb_var33_ult1', 'imp_trasp_var17_in_hace3', 'imp_trasp_var17_in_ult1', 'imp_trasp_var17_out_ult1', 'imp_trasp_var33_in_hace3', 'imp_trasp_var33_in_ult1', 'imp_trasp_var33_out_ult1', 'imp_venta_var44_hace3', 'imp_venta_var44_ult1', 'ind_var7_emit_ult1', 'num_aport_var17_hace3', 'num_aport_var33_hace3', 'num_aport_var33_ult1', 'num_var7_emit_ult1', 'num_compra_var44_hace3', 'num_meses_var13_largo_ult3', 'num_meses_var13_medio_ult3', 'num_meses_var29_ult3', 'num_meses_var33_ult3', 'num_reemb_var17_hace3', 'num_reemb_var33_ult1', 'num_trasp_var17_in_hace3', 'num_trasp_var17_in_ult1', 'num_trasp_var17_out_ult1', 'num_trasp_var33_in_hace3', 'num_trasp_var33_in_ult1', 'num_trasp_var33_out_ult1', 'num_venta_var44_hace3', 'num_venta_var44_ult1', 'saldo_medio_var13_largo_hace2', 'saldo_medio_var13_largo_hace3', 'saldo_medio_var13_largo_ult1', 'saldo_medio_var13_largo_ult3', 'saldo_medio_var13_medio_hace2', 'saldo_medio_var13_medio_ult1', 'saldo_medio_var13_medio_ult3', 'saldo_medio_var17_hace2', 'saldo_medio_var17_hace3', 'saldo_medio_var29_hace2', 'saldo_medio_var29_hace3', 'saldo_medio_var29_ult1', 'saldo_medio_var29_ult3', 'saldo_medio_var33_hace2', 'saldo_medio_var33_hace3', 'saldo_medio_var33_ult1', 'saldo_medio_var33_ult3', 'saldo_medio_var44_hace2', 'saldo_medio_var44_hace3']

In [58]:
negative_not_unique_column_list = []
negative_unique_column_list = []

for column in df_negative.columns: 
    if len(df_negative[column].unique()) > 1: 
        negative_not_unique_column_list.append(column)
    else:
        negative_unique_column_list.append(column)
print(negative_unique_column_list)

[]

In [59]:
print(len(set(positive_not_unique_column_list).intersection(set(negative_not_unique_column_list))))

228

In [60]:
positive_unique_column_dict = dict()

for column in positive_unique_column_list:
    if len(set(df_negative[column].values.tolist()).intersection(set(df_positive[column].values.tolist()))) == 0:
        print(f"{column} is unique")
    else:
        positive_unique_column_dict[column] = df_positive[column].values.tolist()[0]
        df_target = df_target.loc[df[column] == df_positive[column].values.tolist()[0]]
        df = df.loc[df[column] == df_positive[column].values.tolist()[0]]
        df = df.drop(column, axis=1)
print(len(df.columns))

228

In [66]:
numerical_column_list = df.select_dtypes(include=['number']).columns.tolist()
categorical_column_list = df.select_dtypes(include=['object']).columns.tolist()
boolean_column_list = df.select_dtypes(include=['bool']).columns.tolist()
print(len(numerical_column_list))
print(len(categorical_column_list))
print(len(boolean_column_list))
print(boolean_column_list)
for column in numerical_column_list:
    print(df[column])
    if len(df[column].unique()) == 2:
        df[column] = df[column] == min(df[column])
        numerical_column_list.remove(column)
        boolean_column_list.append(column)
        print(df[column])
        print("*******************")
        input()

print(len(numerical_column_list))
print(len(categorical_column_list))
print(len(boolean_column_list))
print(boolean_column_list)

161
0
67
['ind_var1_0', 'ind_var1', 'ind_var5_0', 'ind_var5', 'ind_var8_0', 'ind_var8', 'ind_var12_0', 'ind_var12', 'ind_var13_0', 'ind_var13_corto_0', 'ind_var13_corto', 'ind_var13_largo_0', 'ind_var13_largo', 'ind_var13', 'ind_var14_0', 'ind_var14', 'ind_var17_0', 'ind_var17', 'ind_var19', 'ind_var24_0', 'ind_var24', 'ind_var25_cte', 'ind_var26_0', 'ind_var26_cte', 'ind_var26', 'ind_var25_0', 'ind_var25', 'ind_var30_0', 'ind_var30', 'ind_var31_0', 'ind_var31', 'ind_var32_0', 'ind_var32', 'ind_var37_cte', 'ind_var37_0', 'ind_var37', 'ind_var39_0', 'ind_var40_0', 'ind_var40', 'ind_var41_0', 'ind_var39', 'ind_var44_0', 'ind_var44', 'num_var1', 'num_var8', 'num_var40', 'num_var39', 'num_var44_0', 'num_var44', 'delta_imp_aport_var17_1y3', 'delta_imp_compra_var44_1y3', 'delta_imp_reemb_var13_1y3', 'delta_imp_reemb_var17_1y3', 'delta_num_aport_var17_1y3', 'delta_num_compra_var44_1y3', 'delta_num_reemb_var13_1y3', 'delta_num_reemb_var17_1y3', 'ind_var7_recib_ult1', 'ind_var10_ult1', 'ind_var10cte_ult1', 'ind_var9_cte_ult1', 'ind_var9_ult1', 'ind_var43_emit_ult1', 'ind_var43_recib_ult1', 'num_meses_var17_ult3', 'num_meses_var44_ult3', 'num_reemb_var13_ult1']
0             1
1             3
2             4
3             8
4            10
          ...
76015    151829
76016    151830
76017    151835
76018    151836
76019    151838
Name: ID, Length: 74930, dtype: int64
0        2
1        2
2        2
3        2
4        2
        ..
76015    2
76016    2
76017    2
76018    2
76019    2
Name: var3, Length: 74930, dtype: int64
0        23
1        34
2        23
3        37
4        39
         ..
76015    48
76016    39
76017    23
76018    25
76019    46
Name: var15, Length: 74930, dtype: int64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
76015    0.0
76016    0.0
76017    0.0
76018    0.0
76019    0.0
Name: imp_ent_var16_ult1, Length: 74930, dtype: float64
0          0.0
1          0.0
2          0.0
3        195.0
4          0.0
         ...
76015      0.0
76016      0.0
76017      0.0
76018      0.0
76019      0.0
Name: imp_op_var39_comer_ult1, Length: 74930, dtype: float64
0          0.0
1          0.0
2          0.0
3        195.0
4          0.0
         ...
76015      0.0
76016      0.0
76017      0.0
76018      0.0
76019      0.0
Name: imp_op_var39_comer_ult3, Length: 74930, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
76015    0.0
76016    0.0
76017    0.0
76018    0.0
76019    0.0
Name: imp_op_var40_comer_ult1, Length: 74930, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
76015    0.0
76016    0.0
76017    0.0
76018    0.0
76019    0.0
Name: imp_op_var40_comer_ult3, Length: 74930, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
76015    0.0
76016    0.0
76017    0.0
76018    0.0
76019    0.0
Name: imp_op_var40_efect_ult1, Length: 74930, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
76015    0.0
76016    0.0
76017    0.0
76018    0.0
76019    0.0
Name: imp_op_var40_efect_ult3, Length: 74930, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
76015    0.0
76016    0.0
76017    0.0
76018    0.0
76019    0.0
Name: imp_op_var40_ult1, Length: 74930, dtype: float64
0          0.0
1          0.0
2          0.0
3        195.0
4          0.0
         ...
76015      0.0
76016      0.0
76017      0.0
76018      0.0
76019      0.0
Name: imp_op_var41_comer_ult1, Length: 74930, dtype: float64
0          0.0
1          0.0
2          0.0
3        195.0
4          0.0
         ...
76015      0.0
76016      0.0
76017      0.0
76018      0.0
76019      0.0
Name: imp_op_var41_comer_ult3, Length: 74930, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
76015    0.0
76016    0.0
76017    0.0
76018    0.0
76019    0.0
Name: imp_op_var41_efect_ult1, Length: 74930, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
76015    0.0
76016    0.0
76017    0.0
76018    0.0
76019    0.0
Name: imp_op_var41_efect_ult3, Length: 74930, dtype: float64
0          0.0
1          0.0
2          0.0
3        195.0
4          0.0
         ...
76015      0.0
76016      0.0
76017      0.0
76018      0.0
76019      0.0
Name: imp_op_var41_ult1, Length: 74930, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
76015    0.0
76016    0.0
76017    0.0
76018    0.0
76019    0.0
Name: imp_op_var39_efect_ult1, Length: 74930, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
76015    0.0
76016    0.0
76017    0.0
76018    0.0
76019    0.0
Name: imp_op_var39_efect_ult3, Length: 74930, dtype: float64
0          0.0
1          0.0
2          0.0
3        195.0
4          0.0
         ...
76015      0.0
76016      0.0
76017      0.0
76018      0.0
76019      0.0
Name: imp_op_var39_ult1, Length: 74930, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
76015    0.0
76016    0.0
76017    0.0
76018    0.0
76019    0.0
Name: imp_sal_var16_ult1, Length: 74930, dtype: float64
0        0
1        0
2        0
3        0
4        0
        ..
76015    0
76016    0
76017    0
76018    0
76019    0
Name: ind_var32_cte, Length: 74930, dtype: int64
0        True
1        True
2        True
3        True
4        True
         ...
76015    True
76016    True
76017    True
76018    True
76019    True
Name: ind_var32_cte, Length: 74930, dtype: bool
*******************
0        0
1        1
2        1
3        3
4        1
        ..
76015    0
76016    1
76017    1
76018    1
76019    0
Name: num_var4, Length: 74930, dtype: int64
0        3
1        3
2        3
3        3
4        3
        ..
76015    3
76016    3
76017    3
76018    3
76019    3
Name: num_var5_0, Length: 74930, dtype: int64
0        0
1        0
2        3
3        3
4        0
        ..
76015    0
76016    0
76017    3
76018    3
76019    0
Name: num_var5, Length: 74930, dtype: int64
0        0
1        0
2        0
3        0
4        0
        ..
76015    0
76016    0
76017    0
76018    0
76019    0
Name: num_var8_0, Length: 74930, dtype: int64
0        0
1        0
2        0
3        0
4        3
        ..
76015    0
76016    3
76017    0
76018    0
76019    0
Name: num_var12_0, Length: 74930, dtype: int64
0        0
1        0
2        0
3        0
4        3
        ..
76015    0
76016    3
76017    0
76018    0
76019    0
Name: num_var12, Length: 74930, dtype: int64
0        0
1        3
2        0
3        0
4        0
        ..
76015    0
76016    0
76017    0
76018    0
76019    0
Name: num_var13_0, Length: 74930, dtype: int64
0        0
1        3
2        0
3        0
4        0
        ..
76015    0
76016    0
76017    0
76018    0
76019    0
Name: num_var13_corto_0, Length: 74930, dtype: int64
0        0
1        3
2        0
3        0
4        0
        ..
76015    0
76016    0
76017    0
76018    0
76019    0
Name: num_var13_corto, Length: 74930, dtype: int64
0        0
1        0
2        0
3        0
4        0
        ..
76015    0
76016    0
76017    0
76018    0
76019    0
Name: num_var13_largo_0, Length: 74930, dtype: int64
0        0
1        0
2        0
3        0
4        0
        ..
76015    0
76016    0
76017    0
76018    0
76019    0
Name: num_var13_largo, Length: 74930, dtype: int64
0        0
1        3
2        0
3        0
4        0
        ..
76015    0
76016    0
76017    0
76018    0
76019    0
Name: num_var13, Length: 74930, dtype: int64
0        0
1        0
2        0
3        0
4        0
        ..
76015    0
76016    0
76017    0
76018    0
76019    0
Name: num_var14_0, Length: 74930, dtype: int64
0        0
1        0
2        0
3        0
4        0
        ..
76015    0
76016    0
76017    0
76018    0
76019    0
Name: num_var14, Length: 74930, dtype: int64
0        0
1        0
2        0
3        0
4        0
        ..
76015    0
76016    0
76017    0
76018    0
76019    0
Name: num_var17_0, Length: 74930, dtype: int64
0        0
1        0
2        0
3        0
4        0
        ..
76015    0
76016    0
76017    0
76018    0
76019    0
Name: num_var17, Length: 74930, dtype: int64
0        0
1        0
2        0
3        0
4        3
        ..
76015    0
76016    3
76017    0
76018    0
76019    0
Name: num_var24_0, Length: 74930, dtype: int64
0        0
1        0
2        0
3        0
4        3
        ..
76015    0
76016    3
76017    0
76018    0
76019    0
Name: num_var24, Length: 74930, dtype: int64
0        0
1        0
2        0
3        0
4        0
        ..
76015    0
76016    0
76017    0
76018    0
76019    0
Name: num_var26_0, Length: 74930, dtype: int64
0        0
1        0
2        0
3        0
4        0
        ..
76015    0
76016    0
76017    0
76018    0
76019    0
Name: num_var26, Length: 74930, dtype: int64
0        0
1        0
2        0
3        0
4        0
        ..
76015    0
76016    0
76017    0
76018    0
76019    0
Name: num_var25_0, Length: 74930, dtype: int64
0        0
1        0
2        0
3        0
4        0
        ..
76015    0
76016    0
76017    0
76018    0
76019    0
Name: num_var25, Length: 74930, dtype: int64
0        0
1        0
2        0
3        0
4        0
        ..
76015    0
76016    0
76017    0
76018    0
76019    0
Name: num_op_var40_hace2, Length: 74930, dtype: int64
0        0
1        0
2        0
3        0
4        0
        ..
76015    0
76016    0
76017    0
76018    0
76019    0
Name: num_op_var40_ult1, Length: 74930, dtype: int64
0        0
1        0
2        0
3        0
4        0
        ..
76015    0
76016    0
76017    0
76018    0
76019    0
Name: num_op_var40_ult3, Length: 74930, dtype: int64
0        0
1        0
2        0
3        0
4        0
        ..
76015    0
76016    0
76017    0
76018    0
76019    0
Name: num_op_var41_hace2, Length: 74930, dtype: int64
0        0
1        0
2        0
3        0
4        0
        ..
76015    0
76016    0
76017    0
76018    0
76019    0
Name: num_op_var41_hace3, Length: 74930, dtype: int64
0        0
1        0
2        0
3        9
4        0
        ..
76015    0
76016    0
76017    0
76018    0
76019    0
Name: num_op_var41_ult1, Length: 74930, dtype: int64
0        0
1        0
2        0
3        9
4        0
        ..
76015    0
76016    0
76017    0
76018    0
76019    0
Name: num_op_var41_ult3, Length: 74930, dtype: int64
0        0
1        0
2        0
3        0
4        0
        ..
76015    0
76016    0
76017    0
76018    0
76019    0
Name: num_op_var39_hace2, Length: 74930, dtype: int64
0        0
1        0
2        0
3        0
4        0
        ..
76015    0
76016    0
76017    0
76018    0
76019    0
Name: num_op_var39_hace3, Length: 74930, dtype: int64
0        0
1        0
2        0
3        9
4        0
        ..
76015    0
76016    0
76017    0
76018    0
76019    0
Name: num_op_var39_ult1, Length: 74930, dtype: int64
0        0
1        0
2        0
3        9
4        0
        ..
76015    0
76016    0
76017    0
76018    0
76019    0
Name: num_op_var39_ult3, Length: 74930, dtype: int64
0        3
1        6
2        3
3        3
4        6
        ..
76015    3
76016    6
76017    3
76018    3
76019    3
Name: num_var30_0, Length: 74930, dtype: int64
0        0
1        3
2        3
3        3
4        3
        ..
76015    0
76016    3
76017    3
76018    3
76019    0
Name: num_var30, Length: 74930, dtype: int64
0        0
1        0
2        0
3        0
4        0
        ..
76015    0
76016    0
76017    0
76018    0
76019    0
Name: num_var31_0, Length: 74930, dtype: int64
0        0
1        0
2        0
3        0
4        0
        ..
76015    0
76016    0
76017    0
76018    0
76019    0
Name: num_var31, Length: 74930, dtype: int64
0        0
1        0
2        0
3        0
4        0
        ..
76015    0
76016    0
76017    0
76018    0
76019    0
Name: num_var32_0, Length: 74930, dtype: int64
0        0
1        0
2        0
3        0
4        0
        ..
76015    0
76016    0
76017    0
76018    0
76019    0
Name: num_var32, Length: 74930, dtype: int64
0        0
1        3
2        3
3        9
4        3
        ..
76015    0
76016    3
76017    3
76018    3
76019    0
Name: num_var35, Length: 74930, dtype: int64
0        0
1        0
2        0
3        6
4        0
        ..
76015    0
76016    0
76017    0
76018    0
76019    0
Name: num_var37_med_ult2, Length: 74930, dtype: int64
0        0
1        0
2        0
3        6
4        0
        ..
76015    0
76016    0
76017    0
76018    0
76019    0
Name: num_var37_0, Length: 74930, dtype: int64
0        0
1        0
2        0
3        6
4        0
        ..
76015    0
76016    0
76017    0
76018    0
76019    0
Name: num_var37, Length: 74930, dtype: int64
0        3
1        3
2        3
3        3
4        3
        ..
76015    3
76016    3
76017    3
76018    3
76019    3
Name: num_var39_0, Length: 74930, dtype: int64
0        0
1        0
2        0
3        0
4        0
        ..
76015    0
76016    0
76017    0
76018    0
76019    0
Name: num_var40_0, Length: 74930, dtype: int64
0        3
1        3
2        3
3        3
4        3
        ..
76015    3
76016    3
76017    3
76018    3
76019    3
Name: num_var41_0, Length: 74930, dtype: int64
0        3
1        3
2        3
3        3
4        6
        ..
76015    3
76016    6
76017    3
76018    3
76019    3
Name: num_var42_0, Length: 74930, dtype: int64
0        0
1        0
2        3
3        3
4        3
        ..
76015    0
76016    3
76017    3
76018    3
76019    0
Name: num_var42, Length: 74930, dtype: int64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
76015    0.0
76016    0.0
76017    0.0
76018    0.0
76019    0.0
Name: saldo_var1, Length: 74930, dtype: float64
0         0.00
1         0.00
2         3.00
3        70.62
4         0.00
         ...
76015     0.00
76016     0.00
76017     3.00
76018     3.00
76019     0.00
Name: saldo_var5, Length: 74930, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
76015    0.0
76016    0.0
76017    0.0
76018    0.0
76019    0.0
Name: saldo_var8, Length: 74930, dtype: float64
0             0.00
1             0.00
2             0.00
3             0.00
4        135003.00
           ...
76015         0.00
76016     48191.22
76017         0.00
76018         0.00
76019         0.00
Name: saldo_var12, Length: 74930, dtype: float64
0          0.0
1        300.0
2          0.0
3          0.0
4          0.0
         ...
76015      0.0
76016      0.0
76017      0.0
76018      0.0
76019      0.0
Name: saldo_var13_corto, Length: 74930, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
76015    0.0
76016    0.0
76017    0.0
76018    0.0
76019    0.0
Name: saldo_var13_largo, Length: 74930, dtype: float64
0          0.0
1        300.0
2          0.0
3          0.0
4          0.0
         ...
76015      0.0
76016      0.0
76017      0.0
76018      0.0
76019      0.0
Name: saldo_var13, Length: 74930, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
76015    0.0
76016    0.0
76017    0.0
76018    0.0
76019    0.0
Name: saldo_var14, Length: 74930, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
76015    0.0
76016    0.0
76017    0.0
76018    0.0
76019    0.0
Name: saldo_var17, Length: 74930, dtype: float64
0             0.00
1             0.00
2             0.00
3             0.00
4        135003.00
           ...
76015         0.00
76016     48191.22
76017         0.00
76018         0.00
76019         0.00
Name: saldo_var24, Length: 74930, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
76015    0.0
76016    0.0
76017    0.0
76018    0.0
76019    0.0
Name: saldo_var26, Length: 74930, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
76015    0.0
76016    0.0
76017    0.0
76018    0.0
76019    0.0
Name: saldo_var25, Length: 74930, dtype: float64
0             0.00
1           300.00
2             3.00
3            70.62
4        135003.00
           ...
76015         0.00
76016     48191.22
76017         3.00
76018         3.00
76019         0.00
Name: saldo_var30, Length: 74930, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
76015    0.0
76016    0.0
76017    0.0
76018    0.0
76019    0.0
Name: saldo_var31, Length: 74930, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
76015    0.0
76016    0.0
76017    0.0
76018    0.0
76019    0.0
Name: saldo_var32, Length: 74930, dtype: float64
0         0.00
1         0.00
2         0.00
3        34.95
4         0.00
         ...
76015     0.00
76016     0.00
76017     0.00
76018     0.00
76019     0.00
Name: saldo_var37, Length: 74930, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
76015    0.0
76016    0.0
76017    0.0
76018    0.0
76019    0.0
Name: saldo_var40, Length: 74930, dtype: float64
0             0.00
1             0.00
2             3.00
3            70.62
4        135003.00
           ...
76015         0.00
76016     48191.22
76017         3.00
76018         3.00
76019         0.00
Name: saldo_var42, Length: 74930, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
76015    0.0
76016    0.0
76017    0.0
76018    0.0
76019    0.0
Name: saldo_var44, Length: 74930, dtype: float64
0        99
1         3
2        99
3         2
4         1
         ..
76015    99
76016     2
76017    99
76018    99
76019    99
Name: var36, Length: 74930, dtype: int64
0        0.0
1       -1.0
2        0.0
3        0.0
4        0.0
        ...
76015    0.0
76016    0.0
76017    0.0
76018    0.0
76019    0.0
Name: delta_imp_aport_var13_1y3, Length: 74930, dtype: float64
0        0.0
1       -1.0
2        0.0
3        0.0
4        0.0
        ...
76015    0.0
76016    0.0
76017    0.0
76018    0.0
76019    0.0
Name: delta_num_aport_var13_1y3, Length: 74930, dtype: float64
0          0.0
1        300.0
2          0.0
3          0.0
4          0.0
         ...
76015      0.0
76016      0.0
76017      0.0
76018      0.0
76019      0.0
Name: imp_aport_var13_hace3, Length: 74930, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
76015    0.0
76016    0.0
76017    0.0
76018    0.0
76019    0.0
Name: imp_aport_var13_ult1, Length: 74930, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
76015    0.0
76016    0.0
76017    0.0
76018    0.0
76019    0.0
Name: imp_aport_var17_ult1, Length: 74930, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
76015    0.0
76016    0.0
76017    0.0
76018    0.0
76019    0.0
Name: imp_var7_recib_ult1, Length: 74930, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
76015    0.0
76016    0.0
76017    0.0
76018    0.0
76019    0.0
Name: imp_compra_var44_ult1, Length: 74930, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
76015    0.0
76016    0.0
76017    0.0
76018    0.0
76019    0.0
Name: imp_reemb_var13_ult1, Length: 74930, dtype: float64
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
76015    0.0
76016    0.0
76017    0.0
76018    0.0
76019    0.0
Name: imp_reemb_var17_ult1, Length: 74930, dtype: float64
0             0.0
1             0.0
2             0.0
3             0.0
4        135003.0
           ...
76015         0.0
76016         0.0
76017         0.0
76018         0.0
76019         0.0